html{
    box-sizing: border-box;
    font-size: 62.5% /** Reset para REMS - 62.5% = 10px de 16px*/
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 2rem;
}

/*Globales*/
img{
    max-width: 100%;
}

.contenedor{
    width: 95%;
    max-width: 120rem; /* 1200px*/
    margin: 0 auto;
}

h1{
    font-size: 3.8rem;
}
h2{
    font-size: 3.4rem;
}
h3{
    font-size: 3rem;
}
h4{
    font-size: 2.6rem;
}

/* Utilidades*/

.contenido-centrado{
    max-width: 80rem;
}
.seccion{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.fw-300{
    font-weight: 300;
}

.centrar-texto{
    text-align: center;
}

.d-block{
    display: block!important;
}

/*BOTONES*/
.boton{
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    margin-top: 3rem;
    text-align: center;
    display: inline-block;
    border: none;
    display: block;
    flex: 0 0 100%;
}
@media (min-width: 768px) {
    .boton{
        display: inline-block;
        flex: 0 0 auto;
    }
}

.boton:hover{
    cursor: pointer;
}

.boton-amarillo{
    background-color: #E08709;
    
}

.boton-verde{
    background-color: #71b100;
}

/* Header */
.site-header{
    background-color: #333333;
    padding: 1rem 0 3rem 0;
}
.site-header.inicio{
    background-image: url(../img/header.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 60rem;
}

.contenido-header{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    text-align: center;
}
@media (min-width: 768px) {
    .contenido-header{
        text-align: left;
    }
}

.contenido-header h1{
    color: white;
    padding-bottom: 2rem;
    max-width: 60rem;
    line-height: 2;
}


@media (min-width: 768px) {
    .barra{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
}
/* Navegacion */
.navegacion a {
    color: white;
    text-decoration: none;
    font-size: 2.1rem; /* 18px*/
    margin-bottom: 1rem;
    display: block;
}
@media (min-width: 768px) {
    .navegacion a {
        display: inline-block;
        margin-right: 2rem;
        font-size: 1.8rem; /* 18px*/
    }
    .navegacion a:last-of-type{
        margin: 0px;
    }
}

.navegacion a:hover{
    color: #71b100;
}

/*Mobile menu*/

.mobile-menu img{
    width: 5rem;
}
@media (min-width: 768px) {
    .mobile-menu img{
    display: none;
    }
}

.navegacion:target{
display: block;
}

.navegacion{
    display: none;
}
@media (min-width: 768px) {
    .navegacion{
        display: block;
}

/*Iconos nosotros*/
@media (min-width: 768px) {
    .iconos-nosotros{
        display: flex;
        justify-content: space-between;
    }
    
}

.icono{
    text-align: center;
}

@media (min-width: 768px) {
    .icono{
        flex-basis: calc(33.3% - 1rem);
    }
}

.seccion h2{
    align-items: center;
}

.icono h3{
    text-transform: uppercase;
}

/*ANUNCIOS*/
@media (min-width: 768px) {
    .contenedor-anuncios {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

@media (min-width: 768px) {
    .anuncio {
        flex-grow: 0; /*Para que el contenido se haga mas grande si es posible*/
    flex-shrink: 0; /*Para que el contenido se haga mas pequeño si es posible*/
    flex-basis: calc(33.3% - 1rem);
    }
}
.anuncio{ 
    /* O tambien un shortcut es 
    flex: 0 0 calc(33.3% - 1rem); */
    border-style: solid;
    border-color: #b5b5b5;
    border-width: 1px;
    background: #f5f5ff;
    margin-bottom: 2rem;
/* o 1 sola lina con border: ancho tipo color*/
}

.contenido-anuncio {
    padding: 2rem;
}

.contenido-anuncio h3 {
     margin: 0;
}

.precio {
    color: #71b100;
    font-weight: 700;
}

.Ver-Todas{
    display: flex;
    justify-content: flex-end;
}

.precio-separado{
    display: flex;
    justify-content: space-between;
}

/**Contacto Home**/
.imagen-contacto{
    background-image: url(../img/encuentra.jpg);
    height: 40rem; 
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.contenido-contacto{
    flex: 0 0 95%;
    color: white;
    
}

.contenido-contacto p{
    font-size: 1.8rem;
}

.iconos-carecteristicas{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    max-width: 50rem;
}

.iconos-carecteristicas li{
    /*flex: 1;*/
    display: flex;
}

.iconos-carecteristicas li img{
    margin-right: 2rem;
}

/*Seccion inferior*/
@media (min-width: 768px) {
    .seccion-inferior{
        display: flex;
        justify-content: space-between;
    }
    
    .seccion-inferior .blog{
        flex-basis: 60%
    }
    
    .seccion-inferior .testimoniales{
        flex-basis: calc(40% - 2rem);
    }
}



.entrada-blog{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.entrada-blog:last-of-type{
    margin: 0;
}
.entrada-blog .imagen{
    flex-basis: 40%;
    

}

.entrada-blog .texto-entrada{
    flex-basis: calc(60% - 2rem);
}

.texto-entrada a{
    color: black;
    text-decoration: none;
}
.texto-entrada h4{
    margin: 0;
    line-height: 1.2;
}

.texto-entrada h4::after{
    content: '';
    display: block;
    width: 15rem;
    height: .5rem;
    background-color: #71b100;
    margin-top: 1rem;
}
.texto-entrada span {
    color: #71b100;
}

/*Testimoniales*/

.testimonial{
    background-color: #71b100;
    font-size: 2.4rem;
    padding: 2rem;
    color: white;
    border-radius: 2rem;
    line-height: 3rem;
}

.testimonial p{
    text-align: end;
}

.testimonial blockquote::before {
    content: '';
    background-image: url(../img/comilla.svg);
    height: 4rem;
    width: 4rem;
    position: absolute;
    left: -3rem;
}

.testimonial blockquote{
    position: relative;
    padding-left: 2rem;
    font-weight: 300;   
}

/*Footer*/
.site-footer{
    background-color: #333333;
     margin: 0;
}

.contenedor-footer{
    padding: 3rem 0;
    text-align: center;
    
}
@media (min-width: 768px) {
    .contenedor-footer{
        display: flex;
    justify-content: space-between;
    }
}

.copyright {
    margin: 0;
    color: white;
}



/*O lo mismo así 
    .contenido-anuncio h3{
                        margin: 0;
                      }
    */

/***************************************************INTERNAS*************************************************/

/*Nosotros*/
@media (min-width: 768px) {
    .contenido-nosotros{
        /*DIVIDIR EN COLUMNAS*/
        display: grid;
        grid-template-columns: 50% 50%;
        /*Separacion con esto*/
        grid-column-gap: 2rem;
    }
}



.contenido-nosotros blockquote{
    font-weight: 900;
    font-size: 2rem;
    margin: 0;
    padding: 3rem 0;
}

.contenido-nosotros p{
    font-weight: 700;
}

/*Anuncio*/
.resumen-propiedad{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*********************************************************CONTACTO*****************************************/

.contacto p{
    font-weight: 1.2rem;
    color: #5d5d5d;
    margin: 2rem 0 0 0;
}
legend{
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #5d5d5d;
}
label{
    font-weight: 700;
    display: block;
    text-transform: uppercase;
}

input:not([type="submit"]),
textarea,
select {
    padding: 1rem;
    display: block;
    width: 100%;
    background-color: #e1e1e1;
    margin-bottom: 2rem;
    border: none;
    border-radius: 1rem;
}
input[type="radio"]{
    width: auto;
    margin-bottom: 0;
}

select {
    -webkit-appearance: none;
    appearance: none;

}
textarea{
    height: 20rem;
}

.forma-contacto{
    max-width: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}






